<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name = "components"
             type = "Server.ConfigureReader, StartServer"/>
  </configSections>
  
  <components>
    <component path ="EchoComponent.dll"
               type ="EchoComponent.EchoComponent" />
  </components>
  
  <system.serviceModel>
    <services>
      <service name ="EchoComponent.EchoServer"
               behaviorConfiguration ="standart">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Echo" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="EchoComponent.IEchoServer" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="standart">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>