<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name = "components"
             type = "Server.ConfigureReader, StartServer"/>
    <section name = "database"
             type = "DBComponent.ConfigureReader, DBComponent"/>
    <section name = "algorithmes"
             type = "AlgorithmComponent.ConfigureReader, AlgorithmComponent"/>
  </configSections>
  
  <components>
    <component path ="DBComponent.dll"
               type ="DBComponent.DBComponent" />
    <component path ="AlgorithmComponent.dll"
               type ="AlgorithmComponent.AlgorithmComponent" />
  </components>
  
  <database server =".\SQLEXPRESS"
            name ="SpbAdresses"
            login ="Wild-Cat\Marie"
            pass ="" />

  <algorithmes>
    <algorithm name ="Dijkstra"/>
    <algorithm name ="Levit"/>
	  <algorithm name ="Я-неверное имя алгоритма из конфига. Не пугайтесь. Меня здесь написали для того, чтобы проверить, как работает передача исключений с сервера клиенту. Нажмите 'ок' и посмотрите как работают другие алгоритмы. "/>
  </algorithmes>
  
  <system.serviceModel>
    <bindings>
      
      <basicHttpBinding>
        <binding name="longTimeoutBinding"
            receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>

      <mexHttpBinding>
        <binding name="longTimeoutBinding"
            receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
        
      </mexHttpBinding>  
      
    </bindings>
    
    <services>
      <service name ="DBComponent.DBServer"
               behaviorConfiguration ="longTimeoutBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/DB" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="longTimeoutBinding"
                  contract="DBComponent.IDBServer" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingConfiguration="longTimeoutBinding"
                  contract="IMetadataExchange" />
      </service>

      <service name ="AlgorithmComponent.AlgorithmServer"
               behaviorConfiguration ="longTimeoutBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Algorithm" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="longTimeoutBinding"
                  contract="AlgorithmComponent.IAlgorithmServer" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingConfiguration="longTimeoutBinding"
                  contract="IMetadataExchange" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="longTimeoutBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>